@page
@model ServMon.Pages.SrvMon.Events.IndexModel

@{
    ViewData["Title"] = "AmGPGU IT";
    string servName;
}

<h1 class="p-4">Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.servEventPList[0].Server)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servEventPList[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servEventPList[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servEventPList[0].ServerStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.servEventPList) {
        <tr class=@(item.ServerStatus == Models.ServerStatus.NotAvailable ? "not-available" : "")>
            <td>
                @{
                    servName = !string.IsNullOrEmpty(item.Server.Name) ? item.Server.Name : item.Server.IpAddress;
                }
                @Html.DisplayFor(modelItem => servName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerStatus)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.servEventPList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.servEventPList.HasNextPage ? "disabled" : "";
    var decreaseDisabled = Model.servEventPList.PageSize == 10 ? "disabled" : "";
}

<div class="btn-group">
    <a class="btn btn-teal @prevDisabled" href="/SrvMon/Events/Index?pageIndex=@(Model.servEventPList.PageIndex - 1)&pageSize=@(Model.servEventPList.PageSize)">
        Previous
    </a>
    <a class="btn btn-teal @nextDisabled" href="/SrvMon/Events/Index?pageIndex=@(Model.servEventPList.PageIndex + 1)&pageSize=@(Model.servEventPList.PageSize)">
        Next
    </a>
</div>
<div class="btn-group">
    <a class="btn btn-teal @decreaseDisabled" href="/SrvMon/Events/Index?pageIndex=1&pageSize=@(Model.servEventPList.PageSize - 10)">
        -10
    </a>
    <a class="btn btn-teal" href="/SrvMon/Events/Index?pageIndex=1&pageSize=@(Model.servEventPList.PageSize + 10)">
        +10
    </a>
</div>