@page
@model ServMon.Pages.SrvMon.Users.EditModel

@{
    ViewData["Title"] = "AmGPGU IT";
    string servName;
}

<h4 class="p-4">Edit user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PrintName" class="control-label"></label>
                <input asp-for="User.PrintName" class="form-control" />
                <span asp-validation-for="User.PrintName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Position" class="control-label"></label>
                <input asp-for="User.Position" class="form-control" />
                <span asp-validation-for="User.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Servers)
                <div class="border border-2" style="padding: 1em">
                    @if (Model.Servers != null)
                    {
                        @foreach (var item in Model.Servers)
                        {
                            <input type="checkbox" name="selectedServers" value="@item.Id"
                           @(Model.User.Servers.Contains(item) ? "checked='checked'" : "") />
                            servName = !string.IsNullOrEmpty(item.Name) ? item.Name : item.IpAddress;
                            @Html.DisplayFor(modelItem => servName)
                            <br />
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
